<div class="top-editor-container">
	<%= form_with model: @article, html: { id: "article-form" } do |f| %>
		<div class="title-form-container">
			<%= f.text_field :title, value: @article.title || "Title", id: "title-form" %>
		</div>
		
		<%= f.hidden_field :id, value: @article.id %>
		
		<div class="form-group">
			<%= f.hidden_field :description, html: { id: "article-input"}, value: @article.description, required: true %>
				<div id="article-editor"></div>
			<%= f.submit %> 
		</div>
	<% end %>
</div>

<script>
//	if (!quill) {
		function imageHandler() {
			var range = this.quill.getSelection();
			var value = prompt('What is the image URL');
			this.quill.insertEmbed(range.index, 'image', value, Quill.sources.USER);
		}

		function quillSubmit() {
			var postContentInput = document.querySelector("#article_description");
			postContentInput.value = quill.root.innerHTML;
		};

		var form = document.querySelector("#article-form");

		var formValue = document.getElementsByClassName("form-group")[0].firstElementChild.value;

		var quill = new Quill("#article-editor", {
		  	modules: {
		    	toolbar: [
			        [{ header: [1, 2, false] }],
			        
			        ['bold', 'italic', 'underline'],
			        ['image', 'code-block'],			
			        
			        [{ align: [] }],
		       	    
			    ],
			},
		    theme: 'snow'
		});

		quill.getModule('toolbar').addHandler('image', imageHandler);

		form.onsubmit = quillSubmit;

		quill.root.innerHTML = formValue;
	//}
</script>
