<!DOCTYPE html>
<html>
  <head>
    <title>NadnerbMedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>
  </head>

  <body>
      <div class="container">
        <div class="header-bar-mobile">
            <span class="header-text">( Nadnerb Media )</span>
        </div>
        <div class="header-bar">
          <div class="header-text"><img class="portrait" src="https://i.imgur.com/t3bjat7.jpg"/>( Nadnerb Media )</div>
          <div class="nav-list">
            <%= link_to("new post", new_article_path, { class: "nav-link "}) %>
            <%= link_to("home", root_path,  { class: "nav-link "}) %>
            
            <% if logged_in? %>
                <%= link_to("logout", logout_path, { class: "nav-link ", method: :delete }) %>
              <% else %>
                <%= link_to("login", login_path, { class: "nav-link " }) %>
            <% end %>
          </div>
        </div>
        <div class="main">
          <%= yield %>
        </div>
      </div>
  </body>
</html>
