<!DOCTYPE html>
<html>
  <head>
    <title>NadnerbMedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>
  </head>

  <body>
      <div class="container">
        <div class="header-bar-mobile">
            <img class="portrait-mobile" src="https://i.imgur.com/t3bjat7.jpg"/>
            <span class="header-text">( Nadnerb Media )</span>
        </div>
        <div class="header-bar">
          <span class="header-text"><img class="portrait" src="https://i.imgur.com/t3bjat7.jpg"/>( Nadnerb Media )</span>
          <div class="nav-list">
            <%= link_to("new post", new_article_path, { class: "nav-link "}) %>
            <%= link_to("home", root_path,  { class: "nav-link "}) %>
            <a href="#" class="nav-link">goots</a>
            <a href="#" class="nav-link">spoots</a>
            <a href="#" class="nav-link">groots</a>
          </div>
        </div>
        <div class="main">
          <%= yield %>
        </div>
      </div>
  </body>
</html>
