<!DOCTYPE html>
<html>
  <head>
    <title>NadnerbMedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>
  </head>

  <body>
      <div class="container">
        <div class="header-bar">
          <h1 class="header-text"><img src="https://i.imgur.com/t3bjat7.jpg"/>Nadnerb Media</h1>
        </div>
        <div class="main">
          <%= yield %>
        </div>
      </div>
  </body>
</html>
